# OSX Files #
#############
.DS_Store

# Local configuration file (sdk path, etc) #
############################################
/local.properties

# Android Studio #
##################
.idea
.gradle
*.iml

# External native build folder generated in Android Studio 2.2 and later #
########################################################################################
.externalNativeBuild

# Build Directories #
#####################
build
/*/*/build

# Other #
#########